<!-- Possible layout for 2.0 -->
<kendo-card class="k-widget k-card k-card-vertical" dir="ltr" style="width: 260px;">
    <kendo-card-header class="k-hbox k-card-header">
        <kendo-avatar height="40px" width="40px" class="k-avatar k-avatar-circle k-avatar-image" style="width: 40px; height: 40px;"><!----><!----><!----><div class="ng-star-inserted" style="width: 40px; height: 40px; background-image: url(&quot;https://www.telerik.com/kendo-angular-ui-develop/components/layout/card/assets/bg_flag.jpg&quot;);"></div><!----><!----></kendo-avatar><div><h1 kendocardtitle="" class="k-card-title">bg_traditions</h1><p kendocardsubtitle="" class="k-card-subtitle">Bulgaria, Europe</p></div>
    </kendo-card-header>
    <kendo-scrollview kendocardmedia="" class="ng-tns-c1-0 k-widget k-scrollview-wrap k-card-media ng-star-inserted" tabindex="1" aria-live="assertive" dir="ltr" style="width: 100%; height: 185px; touch-action: pan-y pinch-zoom;">
        <ul class="k-scrollview ng-trigger ng-trigger-animateTo" kendodraggable="">
            <li class="ng-tns-c1-0 ng-star-inserted" aria-hidden="true" style="height: 185px; transform: translateX(-100%); width: 100%;"><!----><img draggable="false" src="" alt="" class="ng-star-inserted" style="min-width: 100%;"></li>
            <li class="ng-tns-c1-0 ng-star-inserted" aria-hidden="false" style="height: 185px; transform: translateX(0%); width: 100%;"><!----><img draggable="false" src="https://www.telerik.com/kendo-angular-ui-develop/components/layout/card/assets/kukeri.jpg" alt="" class="ng-star-inserted" style="min-width: 100%;"></li>
            <li class="ng-tns-c1-0 ng-star-inserted" aria-hidden="true" style="height: 185px; transform: translateX(100%); width: 100%;"><!----><img draggable="false" src="https://www.telerik.com/kendo-angular-ui-develop/components/layout/card/assets/martenitsa.jpg" alt="" class="ng-star-inserted" style="min-width: 100%;"></li>
        </ul>
        <div class="k-scrollview-elements ng-tns-c1-0 ng-star-inserted" style="height: 185px;">
            <a aria-label="next" class="k-scrollview-next ng-tns-c1-0 ng-star-inserted"><span class="k-icon k-i-arrowhead-e"></span></a><!----><kendo-scrollview-pager class="ng-tns-c1-0 ng-star-inserted"><ul class="k-scrollview-pageable"><!----><li class="k-button ng-star-inserted k-primary"></li><li class="k-button ng-star-inserted"></li><li class="k-button ng-star-inserted"></li></ul></kendo-scrollview-pager>
        </div>
    </kendo-scrollview>
    <kendo-card-actions class="k-card-actions k-card-actions-start k-card-actions-horizontal">
        <comment-actions class="ng-star-inserted"><div><button class="k-button k-flat"><span class="k-icon k-i-heart-outline"></span></button><button class="k-button k-flat"><span class="k-icon k-i-comment"></span></button><button class="k-button k-flat"><span class="k-icon k-i-share"></span></button></div><span class="post-likes-count">674 likes</span></comment-actions>
    </kendo-card-actions>
</kendo-card>