@inherits LayoutComponentBase

<header class="header">
    <div class="nav-container">
        <div class="menu-button">
            <TelerikButton Icon="@IconName.Menu" OnClick="@(() => Expanded = !Expanded)" />
        </div>

        <div class="title">
            <h1>Title</h1>
            <span className="vl"></span>
            <h2>Page Title</h2>
        </div>
        <div class="settings">
            @*<span>Language</span>*@
            <LoginDisplay />
        </div>
    </div>
</header>
<TelerikRootComponent>
    <TelerikDrawer @bind-Expanded="@Expanded" @bind-SelectedItem="SelectedItem"
                   Data="Data" MiniMode="true" Mode="DrawerMode.Push">
        <Content>
            @Body
        </Content>
    </TelerikDrawer>
</TelerikRootComponent>

@code {
    bool Expanded { get; set; } = false;
    object SelectedItem { get; set; }

    IEnumerable<object> Data { get; set; } =
        new List<object>
        {
            new { Text = "Home", Icon = IconName.ArrowRoot, Url="/"},
            new { Text = "Sales", Icon = IconName.Dollar, Url="/sales"},
            new { Text = "Human Capital", Icon = IconName.TellAFriend, Url="/manage-employees"},
            new { Text = "Manage Products", Icon = IconName.Grid, Url="/manage-products"}
        };

    protected override void OnInitialized()
    {
        SelectedItem = Data.First();
    }
}
