@page "/"

    <div class="card-menu">
        <Card Title="Sales" ImageUrl="./img/Sales.jpg">
            <CardContent>
                <p>Report on Sales over time.</p>
            </CardContent>
            <ActionTemplate>
                <span class="k-card-action"><a href="/sales" class="k-button k-flat k-primary">Sales</a></span>
            </ActionTemplate>
            <FooterTemplate>
                <span title="Login required."><TelerikIcon Icon="@IconName.Lock" /></span>
            </FooterTemplate>
        </Card>
        <Card Title="Human Capital" ImageUrl="./img/Schedule.jpg">
            <CardContent>
                <p>Manage employees and teams.</p>
            </CardContent>
            <ActionTemplate>
                <span class="k-card-action"><a href="/manage-employees" class="k-button k-flat k-primary">Human Capital</a></span>
            </ActionTemplate>
            <FooterTemplate>
                <span title="Login required."><TelerikIcon Icon="@IconName.Lock" /></span>
            </FooterTemplate>
        </Card>
        <Card Title="Manage Products" ImageUrl="./img/coffee.jpg">
            <CardContent>
                <p>Manage products and nutrition information.</p>
            </CardContent>
            <ActionTemplate>
                <span class="k-card-action"><a href="/manage-products" class="k-button k-flat k-primary">Manage Products</a></span>
            </ActionTemplate>
            <FooterTemplate>
                <span title="Login required."><TelerikIcon Icon="@IconName.Lock" /></span>
            </FooterTemplate>
        </Card>
        <TelerikTooltip TargetSelector=".k-card-footer>span[title]" Position=@TooltipPosition.Top ShowOn="@TooltipShowEvent.Hover"/>
    </div>
