.k-drawer-container {
    background-color: $background-color;
    min-height: calc(100vh - 80px);

    .k-drawer {
        box-shadow: 0 0 10px rgba(0,0,0,.2);
        border-right-width: 0 !important;
    }
}
