// Default theme variables here

@import "./variables";
@import "../../node_modules/@progress/kendo-theme-default/dist/all.scss";
@import "./typography";
@import "./header";
@import "./drawer";
@import "./card-container";
@import "./common";

// TODO: Refactor to partial
.card-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.card-menu > .k-card {
    width: 280px;
    margin-right: 2em;
}

a.k-link.k-state-selected {
    border-radius: 5px;
}

.validation-message {
    color: $error;
}